<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
     <div class="banner">
        <div class="navbar">
            <img src="rvscet.png" alt="" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login"> Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>


        <section>
            <div class = "image">
                <!-- image here -->
            </div>

            <div class = "content">
                <h2>About Us</h2>
               

                <ul class = "links">
                    <li><a href = "#">Mission</a>
                    <li>To advance knowledge and educate students in science, technology</li></li>

                    <div class = "vertical-line"></div>

                    <li><a href = "#">service</a> <li>Highly qualified and experienced teachers  </li></li>

                    <div class = "vertical-line"></div>
                    
                    <li><a href = "#">Rankings</a>  <li>#5 in QS Global World Rankings 2021</li></li>
                </ul>

               
            </div>
        </section>
        </div>
    </body>
</html>