<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="rvscet.png" alt="" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Educare</h1>
            <p>Educare is devoted to excellence in teaching, learning, and research,<br> to developing leaders who make a difference globally.
            </p>
            <div>
                <button type="button"><span></span><a href="/login">Login</a></button>
                <button type="button"><span></span><a href="/register">Register</a></button>
            </div>
        </div>
    </div>
</body>
</html>